body{
  margin: 0;
  padding: 0;
  text-align: center;
}

.video-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.logo{
  color: darkred;
  font-size: 32px;
  text-shadow: 5px 8px 9px black;
}

.nav-var{
  display: inline-block;
  background-color: transparent;
  box-shadow: 5px 15px 35px black;
  padding: 20px 60px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  border-radius: 50px;
}
.nav-var a{
  font-size: 20px;
  color: white;
  padding: 15px;
  text-decoration: none;
  margin: 15px;
  margin-bottom: -15px;
  text-shadow: 5px 10px 10px black;
  transition: 0.3s ease;
  display: inline-block;
}

.nav-var a:hover{
  transform: scale(1.5);
  color: darkred;
  text-shadow: 2px 3px 10px black;
}

.logout{
  color: white;
  font-size: 20px;
  text-shadow: 5px 5px 10px black;
}

h1{
  font-size: 42px;
  margin-bottom: -25px;
}

span{
  color: darkred;
  text-shadow: 5px 6px 10px black;
}

.btn{
  display: inline-block;
  background-color: transparent;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 5px 9px 17px black;
}

.btn-1{
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 5px 2px 10px black;
}

.btn-1:hover{
  color: darkred;
  transform: scale(1.2);
}

.btn-2{
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.btn-2:hover{
  color: darkred;
  transform: scale(1.2);
}

 button{
  background-color: transparent;
  padding: 5px;
  border-radius: 50px;
  box-shadow: 5px 15px 20px black;
}

.containers{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container{
  margin-top: 10px;
  display: inline-block;
  padding: 20px;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: 5px 9px 17px black;
}


h2{
  font-weight: 800;
  font-size: 32px;
  margin-bottom: -15px;
}

h3{
  font-size: 32px;
  margin-bottom: 10px;
}

h4{
  font-size: 32px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
    position: relative;
  }

  * {
    max-width: 100%;
    box-sizing: border-box;
  }

  .video-bg {
    max-width: 100%;
    height: auto;
    display: block;
  }
  }




